.container {
  position: relative;
  height: 14rem;
  background: var(--low-pure);
  padding: var(--padding-lg);
  border-radius: var(--radius-md);
  color: var(--high-pure);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  cursor: pointer;

  transition: all 0.5s ease-in-out;
}

.container:hover {
  box-shadow: 0 16px 48px 0 #0000003d;

  .arrow {
    transform: translateX(0%);
    opacity: 1;
  }

  .gradientEffect {
    opacity: 1;
  }
}

.container header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.icon {
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
}

.container span {
  color: var(--high-medium);
}

.container strong {
  font-weight: 600;
  font-size: var(--font-xl);
  line-height: var(--line-xl);
}

.value {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.value p {
  margin-top: 0.75rem;
}

.tag {
  padding: var(--padding-sm);
  border-radius: var(--radius-sm);
  background: var(--secondary-pure);
  color: var(--low-pure);
}

.arrow {
  position: absolute;
  right: 1.5rem;
  bottom: 2rem;

  transform: translateX(-100%);
  opacity: 0;
  transition:
    transform 1.5s ease-in-out,
    opacity 0.2s;
  transition-delay: 0.2s;
}

.gradientEffect {
  position: absolute;
  right: 0;
  bottom: 0;

  height: 8rem;
  width: 50%;
  max-width: 10rem;
  border-radius: 100%;
  background: linear-gradient(
    to bottom right,
    var(--low-pure),
    var(--low-light)
  );
  filter: blur(80px);

  opacity: 0;
  transition: all 0.5s ease-in-out;
}
