.container {
  height: 5rem;
  background: var(--high-light);
  border-radius: var(--radius-md);
  padding: var(--padding-lg);

  display: grid;
  grid-template-columns: 1fr 1.2fr 6rem;
  gap: var(--gap-lg);
  align-items: center;

  color: var(--low-pure);
  cursor: pointer;
}

.container:hover {
  background: var(--high-medium);
}

.container p,
.container span {
  margin-top: 0.125rem;
}

.accountType {
  display: flex;
  align-items: center;
  gap: var(--gap-sm);
}

.income,
.outcome {
  text-align: center;
}

.income {
  color: var(--success);
}

.outcome {
  color: var(--danger);
}

@media screen and (max-width: 48rem) {
  .container {
    grid-template-columns: auto 1.2fr auto;
    align-items: flex-start;
    gap: var(--gap-md);
    height: fit-content;
  }

  .accountName {
    display: none;
  }
}