.container,
.containerMobile {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;

  height: 6.5rem;
  background: var(--high-pure);
  border-bottom: 1px solid var(--high-medium);
  padding: var(--padding-lg);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 64rem) {
  .container {
    padding: var(--padding-md);
  }
}

@media screen and (max-width: 48rem) {
  .container {
    height: 5rem;
  }
}