.default,
.disabled {
  background: var(--high-light);
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 100%;
  padding: 0;
  cursor: default;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.default:hover {
  cursor: pointer;
  background: var(--high-medium);
}

@media screen and (max-width: 48rem) {

  .default,
  .disabled {
    height: 2.5rem;
    width: 2.5rem;
  }
}