.container {
  height: 14rem;
  background: var(--high-light);
  padding: var(--padding-lg);
  border-radius: var(--radius-md);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.row {
  display: flex;
  align-items: center;
  gap: var(--gap-md);
  margin-top: 1rem;
}