.container {
  height: 14rem;
  background: var(--high-light);
  padding: var(--padding-lg);
  border-radius: var(--radius-md);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container header {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
}

.icon {
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
}

.row {
  display: flex;
  align-items: center;
  gap: var(--gap-md);
  margin-top: 1rem;
}

@media screen and (max-width: 64rem) {
  .container {
    height: 12rem;
  }

  .icon {
    flex-direction: row;
    align-items: center;
  }
}
