.container {
  display: flex;
  gap: var(--gap-lg);
}

.avatar {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 48rem) {
  .container {
    gap: var(--gap-md);
  }
}
