.sidebar,
.activeSidebar {
  display: none;
}

.link,
.activeLink {
  display: flex;
  flex-direction: column;
}

.activeLink::after {
  content: '';
  width: 2rem;
  border: 0.063rem solid var(--high-medium);
}

.link::after {
  content: '';
  width: 2rem;
  border: 0.063rem solid transparent;
}

@media screen and (max-width: 64rem) {

  .sidebar,
  .activeSidebar {
    display: flex;
    flex-direction: column;
    gap: var(--gap-md);
    padding: 0 3rem;

    position: fixed;
    top: calc(6.5rem - 2px);
    z-index: 100;

    height: 0;
    width: 100%;
    background: var(--high-pure);
    border-bottom: 1px solid var(--high-medium);
    box-shadow: 0px 15px 10px -15px #111;

    overflow: hidden;
    transition: all 0.5s ease-in-out;
  }

  .activeSidebar {
    height: 12rem;
    padding: 1rem 3rem;
  }

  .sidebar p,
  .activeSidebar p {
    font-size: var(--font-md);
    line-height: var(--line-md);
    color: var(--primary-pure);
  }
}

@media screen and (max-width: 48rem) {

  .sidebar,
  .activeSidebar {
    top: calc(5rem - 2px);
  }
}