.container {
  height: 5rem;
  background: var(--high-light);
  border-radius: var(--radius-md);
  padding: var(--padding-lg);

  display: grid;
  grid-template-columns: 1fr 1.4fr auto;
  gap: var(--gap-lg);
  align-items: center;

  color: var(--low-pure);
}

.row {
  display: flex;
  align-items: center;
  gap: var(--gap-sm);
}

.row:last-child {
  display: none;
}

.description {
  max-width: 12rem;
}

@media screen and (max-width: 48rem) {
  .container {
    grid-template-columns: auto 1.2fr auto;
    gap: var(--gap-md);
  }

  .accountName {
    display: none;
  }
}
