:root {
  --primary-pure: #0f0f0f;
  --secondary-pure: #ebb932;
  --secondary-medium: #f1cd6d;
  --low-pure: #2f2f2f;
  --low-light: #a3a3a3;
  --low-medium: #666666;
  --high-pure: #fbfbfb;
  --high-light: #ededed;
  --high-medium: #e0e0e0;
  --success: #24a148;
  --warning: #f1c21b;
  --danger: #da1e28;

  --font-sm: 0.875rem;
  --font-md: 1rem;
  --font-lg: 1.5rem;
  --font-xl: 2rem;

  --line-sm: 1rem;
  --line-md: 1.5rem;
  --line-lg: 2rem;
  --line-xl: 2.5rem;

  --radius-sm: 8px;
  --radius-md: 16px;

  --padding-sm: 0.5rem;
  --padding-md: 1rem;
  --padding-lg: 1.5rem;

  --gap-sm: 0.5rem;
  --gap-md: 1rem;
  --gap-lg: 1.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--high-pure);
  color: var(--low-medium);
}

body,
button {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: var(--font-sm);
  line-height: var(--line-sm);
}

button {
  cursor: pointer;
  border: 0;
  border-radius: var(--radius-sm);
  padding: 1rem;
  color: var(--low-pure);
}

::-webkit-scrollbar {
  background: transparent;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  padding: 0 4px;
  border-right: 2px solid transparent;
  background: var(--low-light);
  background-clip: padding-box;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #7f7f7f;
}
