.menu,
.menuSkeletons {
  display: flex;
}

.menu {
  gap: var(--gap-md);
}

.menuSkeletons {
  gap: 3rem;
}
@media screen and (max-width: 64rem) {
  .menu,
  .menuSkeletons {
    display: none;
  }
}
